@{
    ViewData["Title"] = "Journeys";
}
<h1>@ViewData["Title"]</h1><


<h4>Update Database</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ReadCsv">

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>