@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my Dev Academy pre-assignment for <a href="https://github.com/solita/dev-academy-2023-exercise"></a>.</p>
</div>
